/**
* team-project: styles/styles.css
* author: 鍾耀堂 (Anthony Chung)
* date created: 4/22/2014
* date updated: 4/28/2014
**/

/********************************************/
/* START universal screen size styles START */
/********************************************/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  

}
/****************************************/
/* END universal screen size styles END */
/****************************************/

/**************************************************/
/* START browser resets :: default settings START */
/**************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
body { font-size: 62.5%; line-height: 1; font-family: Helvetica, Arial, Tahoma, sans-serif; padding-bottom: 60px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
/****************************/
/* END browser defaults END */
/****************************/

/********************************/
/* START basic components START */
/********************************/
body{
  background-image: url('../images/bg.png');
  background-repeat:repeat;
  margin-left:auto;
  margin-right:auto;
  font-family: 'helvetica';
  font-size: 20px;
}
header{
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  height:80px;
}
/****************************/
/* END basic components END */
/****************************/

/************************************/
/* START navigation bar items START */
/************************************/
header li{
  font-size:24px;
}
#dd-menu > li{
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
}
header ul{
  text-align:center;
}
#dd-menu ul {
  display:none;
}
header li .page{
  padding-left: auto;
  padding-right: auto;
  margin-left:auto;
  margin-right:auto;
  font-size: 75%;
  color:rgb(177,246,203); /* tab text color */
}
/* text inside nav bar */
header li > a{
  color:rgb(80,159,116);
}
header li > a:hover{
  font-style:normal;
  text-decoration:none;
  color:rgb(98,136,112);
}
/********************************/
/* END navigation bar items END */
/********************************/

/***************************************************/
/* START define border around navigation bar START */
/***************************************************/
#dd-about{
  border-left: 3px solid rgb(235,253,212);
  border-bottom: 3px solid rgb(235,253,212);
  border-bottom-left-radius:5px;
}
#dd-events{
  border-bottom: 3px solid rgb(235,253,212);
}
#dd-community{
  border-bottom: 3px solid rgb(235,253,212);
}
#dd-support{
  border-right: 3px solid rgb(235,253,212);
  border-bottom: 3px solid rgb(235,253,212);
  border-bottom-right-radius:5px;
}
/***************************************************/
/* END border definition around navigation bar END */
/***************************************************/

/*******************************************/
/* START social media button styling START */
/*******************************************/
#dd-social-media{
  height:50px;
  text-align:right;
  padding-top:25px;
  padding-right:25px;
}
#dd-twitter{
  vertical-align:text-bottom:
}
#dd-fb{
  vertical-align:text-bottom;
}
/*******************************/
/* END social media button END */
/*******************************/

/**************************************/
/* START main body <div> styles START */
/**************************************/
#dd-wrapper{
  font-size: 18px;
}
#dd-large-banner{
  padding: 180px;
  height:500px;
  border: 5px solid rgb(235,253,212);
  background: rgba(235,253,212,0.8);
  font-size: 100px;
  text-align:center;
  color: rgba(200,235,190,0.9);
}
.title{
  font-size:130%;
}
#dd-left-content{
  height:400px;
  border: 5px solid rgb(235,253,212);
  padding-top:15px;
  overflow-y:hidden;
  overflow-y:scroll;
}
#dd-right-content{
  padding-top:15px;
  height:400px;
  border: 5px solid rgb(235,253,212);
  overflow-y:hidden;
  overflow-y: scroll;
}
#dd-bottom-content{
  height:200px;
  border: 5px solid rgb(235,253,212);
  text-align:center;

}
#dd-bottom-content .row{
  text-align:center;
  padding-top:50px;
}
#dd-bottom-content div{
text-align:center;

}
a>div.xs-col-2{
text-align:center;
/*   margin: 5px 10px 5px 10px; */
}
/**********************************/
/* END main body <div> styles END */
/**********************************/

/****************************/
/* START table styles START */
/****************************/
td{
  padding: 5px;
}
tr{
  border: 3px solid rgb(235,253,212);
  padding: 20px;
}
td{
  border: 3px solid rgb(235,253,212);
  text-align: center;
  padding: 5px 10px 5px 10px;
}
table{
 border: 3px solid rgb(235,253,212);
 padding: 10px;
 border-collapse:collapse;
}

/************************/
/* END table styles END */
/************************/

/******************************/
/* START footer styling START */
/******************************/
footer div{
  text-align:center;
  height:50px;
  border: 5px solid rgb(235,253,212);
  border-collapse:collapse;
  padding-top:5px;
}
/**************************/
/* END footer styling END */
/**************************/