/**
* team-project: styles/styles.css
* author: 鍾耀堂 (Anthony Chung)
* date created: 4/22/2014
* date updated: 5/4/2014
**/

/* set default font size */

*{
	font-size: 22px;
}

/* header */

header{
/*   height: 80px; */
  text-align:center;
  margin-left: auto;
  margin-right:auto;
}

/* body */

body{
  font-size: 20px;
  font-family: 'Arial';
  margin-left:auto;
  margin-right:auto;
  background-image: url('../images/bg.png');
  background-repeat:repeat;
}

/* footer */

footer{
  	text-align:center;
	padding-top:10px !important;
	color:rgb(245,245,245);
}

/* header tabs */

#dd_menu > li{
  font-size:200%;
  font-style:bold;
  padding-top:20px;
  padding-bottom:20px;
}
#dd_menu{
display:block;
}
#dd_menu ul{
  display:none;
}

header li .page{
  padding-left: auto;
  padding-right: auto;
  margin-left:auto;  
  margin-right:auto;
  font-size: 75%;
  color:rgb(95,102,85);
}

/* text in navigation bar */

ul{
  text-align:center; /* center <li> text in tab */
}

header li > a{
  color:rgb(95,102,85);
}
header li > a:hover{
  font-style:normal;
  text-decoration:none;
  color:rgb(245, 245, 245);
}

/* font-awesome icons */

i{
  color:rgb(90,100,70);
}
i:hover{
  color:rgb(245,245,245);
}

/* social media buttons in header */

#dd_social_media{
  font-size: 250%;
  height:50px;
  text-align:right;
  padding-top:25px;
  padding-right:25px;
}

/* main content border generation */

.sub_section {
  border:2px solid rgb(95,102,85);
  border-collapse:collapse;
  margin:auto;
  height: 400px;
}

/* main content */

#dd_wrapper{
  font-size: 18px;
}
#dd_large_content{
  height:400px;
}
#dd_left_content{
  height:400px;
  padding-top:15px;
  overflow-y:hidden;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
#dd_right_content{  
  height:400px;
  padding: 20px 10px 40px 10px !important;
  overflow-y: hidden;
  overflow-y: scroll;
  border-top:none;
  border-left:none;
  border-bottom:none;
}
#dd_bottom_content{
  height:110px;
  font-size: 30%;
  padding-top:18px;
  text-align:center;
}
.title{
  font-size:130%;
}

/* Upcoming Events table */

table{
  margin-top: 10px !important;
  width: 100%;
}
td{
  padding: 5px 10px 5px 10px;
  border: 2px solid rgb(95,102,85);
}
tr{
  padding: 20px;
  border: 2px solid rgb(95,102,85);
}

/* content page resize elements */
content_page{
 height: 600px;
}
